<div class="col-12">

  <form>
    <div class="p-fluid p-formgrid grid">

      <div class="field col-12 md:col-3">
        <p-dropdown [options]="tiposDocumento" optionLabel="name" placeholder="Tipo Documento">
        </p-dropdown>
      </div>

      <div class="field col-12 md:col-3">
          <span class="p-input-icon-left">
            <i class="pi pi-book"></i>
            <p-inputNumber mode="decimal" [useGrouping]="false" [maxlength]="10" placeholder="Número de Documento"
                           [inputStyle]="{'paddingLeft': '40px'}">
            </p-inputNumber>
          </span>
      </div>

      <div class="field col-12 md:col-3">
          <span class="p-input-icon-left">
            <i class="pi pi-folder-open"></i>
            <p-inputNumber mode="decimal" [useGrouping]="false" [maxlength]="10" placeholder="Número de Folios"
                           [inputStyle]="{'paddingLeft': '40px'}">
            </p-inputNumber>
          </span>
      </div>

      <div class="field col-0 md:col-3"></div>

      <div class="field col-12">
        <label><b>Adjuntar documentos</b></label>
        <p-fileUpload mode="basic" chooseLabel="Seleccionar Archivo" [maxFileSize]="10000000"></p-fileUpload>
      </div>

      <div class="field col-12">
        <span class="p-input-icon-left">
          <i class="pi pi-file"></i>
          <input pInputText
                 placeholder="Asunto"
                 type="text"/>
        </span>
      </div>

    </div>
  </form>

</div>
