<div class="col-12">

  <form>
    <div class="p-fluid p-formgrid grid">

      <div class="field col-12">
        <label><b>Adjuntar Anexos</b></label>
        <p-fileUpload mode="basic" chooseLabel="Seleccionar Archivo" [maxFileSize]="10000000"></p-fileUpload>
      </div>

      <div class="field col-12">
        <span class="p-input-icon-left">
          <i class="pi pi-file"></i>
          <input pInputText
                 placeholder="Asunto de Anexos"
                 type="text"/>
        </span>
      </div>

    </div>
  </form>

  <br><br><br><br>

  <p>* Declaro bajo juramento que la información brindada es verdadera, asumiendo la responsabilidad civil o penal en caso se verifique que se falsa o inexacta.</p>

  <h1><b>Nota</b></h1>
  <ul>
    <li>El Documento debe contener su Nombre, Número de Documento de Identidad, Domicilio, Asunto y Firma.</li>
    <li>Numerar su documento y anexos en forma ascendente, contínua y legible de adelante hacia atrás, ubicar los números en la parte superior derecha de cada folio.</li>
    <li>El documento principal debe estar en formato pdf.</li>
    <li>El formato de los Anexos puede ser pdf, Word y jpg.</li>
    <li>Tamaño máximo de los archivos debe ser menor o igual a 16MB</li>
    <li>Todo documento en estado Denegado debe ser ingresado nuevamente con las correcciones indicadas.</li>
  </ul>

</div>
